<table id="tableSteps" class="table-auto text-sm">
  <tbody *ngIf="steps.length > 0">
    <tr *ngFor="let items of steps; let i = index">
      <td *ngIf="i == 0" [attr.rowspan]="steps.length">
        {{ matrixOperation | decodeHtml }} =
      </td>
      <td
        *ngIf="i == 0"
        class="border-matrix-left"
        [attr.rowspan]="steps.length"
      ></td>
      <td *ngFor="let item of items" [innerHtml]="sanitizeHtml(item)"></td>
      <td
        *ngIf="i == 0"
        class="border-matrix-right"
        [attr.rowspan]="steps.length"
      ></td>
    </tr>
  </tbody>
</table>
