<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <a routerLink="/" class="text-white text-xl font-bold">MathCool</a>
    </div>
    <div class="justify-self-center">
      <a
        routerLink="/matrix"
        class="text-white hover:text-gray-400 cursor-pointer font-bold"
      >
        Matrix
      </a>
    </div>
    <div class="text-center">
      <p class="text-white font-bold w-full flex items-center gap-x-2">
        <img
          src="assets/images/indonesia-flag.png"
          alt="Indonesia Flag"
          class="h-4"
        />
        INDONESIA
      </p>
    </div>
  </div>
</nav>
