<main class="mx-4">
  <div
    class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-y-5 md:gap-x-32 lg:gap-x-52 xl:gap-x-64"
  >
    <div id="matrix_a">
      <form [formGroup]="formSettingMatrixA">
        <div
          class="grid sm:grid-cols-1 md:grid-cols-1 xl:grid-cols-3 mb-2 text-base gap-y-2"
        >
          <p>Matrix <strong>A</strong></p>
          <div class="grid grid-cols-2 md:grid-cols-2 xl:col-span-2">
            <div class="flex gap-2">
              <p>Rows :</p>
              <select
                name="rows_matrix_a"
                id="rows_matrix_a"
                class="rounded-md w-16 md:w-16"
                formControlName="rows"
              >
                <option *ngFor="let number of listSelect" [value]="number">
                  {{ number }}
                </option>
              </select>
            </div>
            <div class="flex gap-2">
              <p>Cols :</p>
              <select
                name="cols_matrix_a"
                id="cols_matrix_a"
                class="rounded-md w-16 md:w-16"
                formControlName="cols"
              >
                <option *ngFor="let number of listSelect" [value]="number">
                  {{ number }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </form>
      <form [formGroup]="formMatrixA">
        <table
          class="table-auto w-full text-sm rounded-lg overflow-hidden border-separate"
        >
          <tbody class="bg-white">
            <tr
              *ngFor="let row of listSelect; let i = index"
              formGroupName="row{{ i + 1 }}"
            >
              <td *ngFor="let col of listSelect; let j = index">
                <input type="text" formControlName="col{{ j + 1 }}" />
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div id="matrix_b">
      <form [formGroup]="formSettingMatrixB">
        <div
          class="grid sm:grid-cols-1 d:grid-cols-1 xl:grid-cols-3 mb-2 text-base gap-y-2"
        >
          <p>Matrix <strong>B</strong></p>
          <div class="grid grid-cols-2 md:grid-cols-2 xl:col-span-2">
            <div class="flex gap-2">
              <p>Rows :</p>
              <select
                name="rows_matrix_b"
                id="rows_matrix_b"
                class="rounded-md w-16 md:w-16"
                formControlName="rows"
              >
                <option *ngFor="let number of listSelect" [value]="number">
                  {{ number }}
                </option>
              </select>
            </div>
            <div class="flex gap-2">
              <p>Cols :</p>
              <select
                name="cols_matrix_b"
                id="cols_matrix_b"
                class="rounded-md w-16 md:w-16"
                formControlName="cols"
              >
                <option *ngFor="let number of listSelect" [value]="number">
                  {{ number }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </form>
      <form [formGroup]="formMatrixB">
        <table
          class="table-auto w-full text-sm rounded-lg overflow-hidden border-separate"
        >
          <tbody class="bg-white">
            <tr
              *ngFor="let row of listSelect; let i = index"
              formGroupName="row{{ i + 1 }}"
            >
              <td *ngFor="let col of listSelect; let j = index">
                <input type="text" formControlName="col{{ j + 1 }}" />
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>

  <div class="grid grid-cols-4 gap-1 max-w-80 my-14 mx-auto">
    <button
      type="button"
      class="bg-blue-400 hover:bg-blue-500 active:bg-blue-600 active:shadow-md text-white py-2 px-3 rounded-md"
      *ngFor="let item of listOperation"
      (click)="selectOperation(item.value)"
    >
      {{ decodeHtmlEntity(item.label) }}
    </button>
  </div>

  <div class="mt-5">
    <p class="text-lg">Result :</p>
    <div class="w-full min-h-96 bg-white rounded-xl mt-2">
      <div
        class="container flex items-center justify-center min-h-96"
        *ngIf="isLoading"
      >
        <div
          aria-label="Loading..."
          role="status"
          class="flex items-center space-x-2"
        >
          <img
            class="w-20 h-20 animate-spin"
            src="https://www.svgrepo.com/show/199956/loading-loader.svg"
            alt="Loading icon"
          />
          <span class="text-4xl font-medium text-gray-500">Loading...</span>
        </div>
      </div>
      <div class="container p-4" *ngIf="!isLoading">
        <table id="tableResult" class="table-auto text-sm">
          <tbody *ngIf="result.length > 0">
            <tr *ngFor="let items of result; let i = index">
              <td *ngIf="i == 0" [attr.rowspan]="result.length">
                {{ decodeHtmlEntity(operation) }} =
              </td>
              <td
                *ngIf="i == 0"
                class="border-result-left"
                [attr.rowspan]="result.length"
              ></td>
              <td *ngFor="let item of items">{{ item }}</td>
              <td
                *ngIf="i == 0"
                class="border-result-right"
                [attr.rowspan]="result.length"
              ></td>
            </tr>
          </tbody>
          <tbody *ngIf="determinantResult.length > 0">
            <tr *ngFor="let item of determinantResult; let i = index">
              <td *ngIf="i == 0" [attr.rowspan]="result.length">
                {{ decodeHtmlEntity(operation) }} =
              </td>
              <td>{{ item }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

<app-error
  [message]="errorMessage"
  [isShow]="isError"
  (closeModal)="handleModalClose(false)"
></app-error>
